<footer class="footer footer-gradient">
    <div class="content has-text-centered">
        <p style="margin-bottom: 0.5rem;">
            &copy; {{ now() | date(format="%Y") }} Life is a Canvas. All rights reserved.
        </p>
        <p>
            <a href="{{ config.extra.social_instagram }}" class="icon has-text-pink" aria-label="Instagram">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="{{ config.extra.social_youtube }}" class="icon has-text-danger" aria-label="YouTube">
                <i class="fab fa-youtube"></i>
            </a>
            <a href="{{ config.extra.social_twitter }}" class="icon has-text-info" aria-label="Twitter">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="{{ config.extra.social_facebook }}" class="icon has-text-blue" aria-label="Facebook">
                <i class="fab fa-facebook"></i>
            </a>
        </p>
    </div>
</footer>
